<%- include('../partials/pageHead') -%>
<body>
   <h1>Sponsor page</h1>
   <table class="table">
      <thead>
        <tr>
          <th>Actions</th>
          <th>Ramadan date</th>
          <th>Date</th>
          <th>Sponsor name</th>
          <th>Catering by Sponsor?</th>
        </tr>
      </thead>
      <tbody>
         <!-- loop over 30 times -->
         <% for(let x = 0; x <= 29; x++) { %>
            <tr>
               <td><a href="/day/<%= (x+1) %>">Edit</a></td>
               <td><%= x+1 %></td>
               <td><%= dates[x] %></td>
               <td>
                  <% content.forEach((sponsor) => { %>
                     <%= (sponsor.rDate == (x+1)) ? sponsor.name : "" %>
                  <% }); %>
               </td>
               <td>
                  <% content.forEach((sponsor) => { %>
                     <%= (sponsor.rDate == (x+1)) ? sponsor.cateringBySponsor : "" %>
                  <% }); %>
               </td>
            </tr>
         <% } %> 
          <!-- loop over 30 times -->
      </tbody>
   </table>
</body>
<%- include('../partials/pageTail') -%>