<%- include('../partials/pageHead') -%>
<body>
   <h1>Daily Sponsors</h1>
   <div class="container home">
      <% content.forEach(function(data){ %>
         <div class="card">
            <div class="dayNumber"><%= data.ramDate %></div>
            <% if (Object.keys(data.sponsor).length === 0){ %>
               <div class="dateString"><%= data.dayString %></div>
            <% } else { %>
               <div class="dateString green"><%= data.dayString %></div>
            <% } %>
            <div class="editButton">
               <form action="/day/<%= data.ramDate %>" method="post">
                  <button type="submit" class="editbtn btn btn-primary btn-sm" name="editButton" value="home">
                     <i class="fa fa-edit"></i> Edit
                  </button>
               </form>
            </div>
         </div>
      <% }); %> 
   </div>
</body>
<%- include('../partials/pageTail') -%>